{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<br>
<header>

<h1>Restaurant <span>La</span> Veranda</h1>
 
 
    
    </header>   
       

  
	<br><br><br>
  <section class="d-flex justify-content-between">
 <div class="text-center"> 
     <img src="{{asset('images/pizza.jpeg')}}" width="150px"  height="150px" alt="pizza"><br>
      <a href="{{path('app_produits',{id: '1'})}} " class=""> Des Pizzas</a>
    </div>

<div class="text-center"> 
   
     <img src="{{asset('images/p3.jpeg')}}" width="150px"  height="150px" alt="pates"> <br>
       <a href="{{path('app_produits',{id: '2'})}} " class=""> Des Plats</a>
   
</div>

    <div class="text-center"> 
     <img src="{{asset('images/dessert.jpg')}}" width="150px" height="150px" alt="hamburguer"><br>
      <a href="{{path('app_produits',{id: '3'})}} " class=""> Desserts </a>
       
     </div>

	
	        	
</section>
<br><br>


<div class="container bg-white">
<br>
<div class ="content-header">
<i class="fa-solid fa-camera-retro"></i> 
<br><br>

<h2 class="text-center text-dark">Galeries</h2>

</div>
<br>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% for item  in photo %}

 
     <div class="carousel-item {% if item.ordre == 1 %}active{% endif %}">

      <img src="{{ asset('images/' ~ item.photo) }}" class="d-block w-100 mx-750 " alt="{{item.photo}}">
    </div>
  {% endfor %}
 
  </div>
</div>
	<hr>
		
 <br><br>
{# 
<div id="carouselExampleSlidesOnly " class="carousel slide" data-ride="carousel">
  <div class="carousel-inner bg-white text-dark">
  {% for item in avisAll %}
    <div class="carousel-item  {% if item.membre.id == 1 %}active {% endif %}">
      <div>
        <p>{{item.note}}/5</p>
        <h4>{{item.membre.prenom}} {{item.membre.nom}}</h4>

        <p><br>{{item.commentaire}}</p>
      </div>
      
    </div>
   {% endfor %}
  </div>
</div> #}

{# 
<div class="container py-5">
<div class="row">
<h1 class="mt-0 text-light"></h1>
<div class="col-md-8">
 
 <p>nous explorons les classiques de la grande gastronomie française pour les remettre au goût du jour.

Ainsi, notre cuisine offre le réconfort des produits nobles et des appellations simples qui ont fait la réputation de notre maison et assure une véritable contemporanéité à travers des sauces d'exception.</p>
</div>
<div class ="col-md-4">
 <img src="{{asset('images/patestom.jpg')}}" alt="Nouveau !" />
</div>

</div>
</div> #}

{% endblock %}
