{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<br>
<header>

<h1>Restaurant <span>La</span> Veranda</h1>
 
 
    
    </header>   
       

  
	<br><br><br>
  <section class="d-flex justify-content-between">
 <div class="text-center"> 
     <img src="{{asset('images/pizza.jpeg')}}" width="150px"  height="150px" alt="pizza"><br>
      <a href="{{path('app_produits',{id: '1'})}} " class=""> Des Pizzas</a>
    </div>

<div class="text-center"> 
   
     <img src="{{asset('images/p3.jpeg')}}" width="150px"  height="150px" alt="pates"> <br>
       <a href="{{path('app_produits',{id: '2'})}} " class=""> Des Plats</a>
   
</div>

    <div class="text-center"> 
     <img src="{{asset('images/p2.jpeg')}}" width="150px" height="150px" alt="hamburguer"><br>
      <a href="{{path('app_produits',{id: '3'})}} " class=""> Desserts </a>
       
     </div>

	
	        	
</section>
<br><br>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% for item  in photo %}

 
     <div class="carousel-item {% if item.ordre == 1 %}active{% endif %}">

      <img src="{{ asset('images/' ~ item.photo) }}" class="d-block w-100 mx-750 " alt="{{item.photo}}">
    </div>
  {% endfor %}
   
  
  </div>
<section>
		{% if app.user %}

		<h3 class="text-center">Votre avis est précieux !</h3> 
			{# <div class="col-md-6 ">
			{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        
            <div class="stars">
			
            <i class="lar la-star" data-value="1"></i><i class="lar la-star" data-value="2"></i><i class="lar la-star" data-value="3"></i><i class="lar la-star" data-value="4"></i><i class="lar la-star" data-value="5"></i>
           </div>
			
			<div >{{ form_row(form.note) }}</div>
			<div >{{ form_row(form.commentaire) }}</div>
			{# <div >{{ form_row(form.reponse) }}</div> #}


{# 
			<button class="btn btn-primary my-2" type="submit">Valider</button>

			{{ form_end(form) }} #} #}
			</diV>
		{% endif %}
	</section>

	<hr>
		
		<section >
		
			{% for item in avisAll %}
			<div class="container bg-light text-dark">
				<div class=" m-3 ">
					
					<div> {{item.membre.prenom}} {{item.membre.nom}}<br>{{item.note}}/5</div>
					

					<p class="m-2 ">{{item.commentaire}}"</p>


					</div>
                    <div>
					 {{item.reponse}}
					</div>
					<hr>
				</div>
				
			</div>
			
			{% endfor %}
			
		
			</section>









<section class="form">
 <div class="container-fluid">
 <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="formc">
            <hr>
            <h2>
             Contactez_Nous!
            </h2>
          </div>
        </div>
      </div>

{% endblock %}
