{% extends "base.html.twig" %}
{% block body %}

<h1>mes Produits</h1>



	<div class="row">
		{% for item in produits %}
			<div class="col-md-4">
				<div class="card mb-3" style="width: 18rem;">
					<h3 class="card-header">{{ item.titre }}</h3>
					<img src="{{asset('images/'~ item.photo)}}" alt="{{item.photo}}">
					<div class="card-body">
						<p class="card-text">{{ item.description }}</p>
						<p class="card-text text-end fw-bold">{{ item.prix }}€</p>
					</div>
					<div class="card-body text-end">
						{# <a href="" class="card-link btn btn-primary">Réserver</a> #}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>






{% endblock %}