{% extends 'base.html.twig' %}

{% block title %}Hello AdminCrudAvisController!{% endblock %}

{% block body %}

<br>
 <section>
			{% for item in avis %}
			<div class="container bg-light text-dark">
				<div class=" m-3 ">
					
					<div> {{item.membre.prenom}} {{item.membre.nom}}<br>{{item.note}}/5</div>
					

					<p class="m-2 ">{{item.commentaire}}"</p>


					</div>
                    <div>
					 {{item.reponse}}
					</div>
					<hr>
				</div>
				
			</div>
			<a href="{{path('avis_edit',{id: item.id})}}">Repondre</a>
			{% endfor %}
			
		
			</section>
			<script src="{{ asset('js/js.js') }}"></script>
      {% endblock %}